    .activities-padding {
        height: 500px;
    }
    
    .talent-activities {
        height: 692px;
    }
    
    .icon-activities {
        width: 218px;
        height: 165.442px;
    }
    
    .activities-hero-content {
        border-radius: 16px;
    
        /* Shadow/2 */
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
    }
    
    @media (max-width: 639px) {
        .activities-padding {
        width: 360px;
        height: 300px;
        }
    
        .icon-activities {
        width: 109px;
        height: 82.721px;
        }
    }
    